;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "0.9.1"]
  [hiccup "1.0.5"]
  ]

 :dev-http {8080 "public"}

 :builds
 {:frontend
  {:target :browser
   :devtools {:autoload true
              :repl-init-ns acme.frontend.app
              :repl-pprint true}
   :modules {:main {:init-fn acme.frontend.app/init!}}}}
}
